Form {
  margin-left: 3%;
  margin-right: 3%;
}

.Title_Frame {
  margin-top: 5%;
  color: white;
  font-family: menlo;
  font-size: x-large;
  letter-spacing: 10px;
  font-weight: 100;
}

.error {
  margin-top: 3px;
  margin-left: 18px;
  color: white;
  font-family: Menlo;
  font-size: 10px;
}

input {
  font-family: "Roboto";
  font-size: 12px;
  color: "#AAAAAA";
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid orange;
  border-radius: 4px;
  text-align: match-parent;
}

input::selection,
input:focus,
input:active,
input:-internal-autofill-selected {
  outline: none;
  background-color: rgba(0, 0, 0, 0.35);
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    91.41deg,
    #ffa500 30.19%,
    #956000 88.51%
  );
  /* border: 13px solid linear-gradient(91.41deg, #ffa500 30.19%, #956000 88.51%); */
}

input[type="text"],
select {
  color: white;
  padding-left: 5px;
}

::placeholder {
  padding-left: 10px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  text-align: left;
}

form {
  font-family: "Roboto";
  font-size: 12px;
  color: orange;
}

button {
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.project__name {
  position: absolute;
  top: 18%;
  left: 3%;
}

.checkbox_left {
  color: white;
  position: absolute;
  top: 28%;
  left: 3%;
}

.checkbox_mid {
  color: white;
  position: absolute;
  top: 28%;
  left: 13%;
}

.checkbox_right {
  color: white;
  position: absolute;
  top: 28%;
  left: 25%;
}

.project__summary {
  position: absolute;
  top: 40%;
  left: 3%;
}

.technical__summary {
  position: absolute;
  top: 18%;
  left: 35%;
}
