.nav__container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  z-index: 1;
  margin-left: -8px;
  background-color: rgba(0, 0, 0, 0.24);
}

.navbar__nav {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 3px;
  color: white;
  padding-left: 30px;
}

.nav__item__container {
  display: flex;
  flex-direction: row;
}

.nav__items {
  display: flex;
  margin-right: 40px;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding-top: 8px;
}
